<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载的时候，扫描所有带有注解的bean-->
    <context:component-scan base-package="cn.lxj.bigdate.day05._04_springannotation.springrunorder"/>
    <!--加载指定的bean，构造方法传参构造实体类-->
    <bean id="one" class="cn.lxj.bigdate.day05._04_springannotation.springrunorder.One">
        <constructor-arg name="one" value="one"/>
    </bean>
    <bean id="two" class="cn.lxj.bigdate.day05._04_springannotation.springrunorder.Two">
        <constructor-arg name="two" value="two"/>
    </bean>
    <!--构造方法构造-->
    <bean id="four" class="cn.lxj.bigdate.day05._04_springannotation.springrunorder.Four">
        <constructor-arg name="four" value="four"/><!--构造方法的参数名-->
    </bean>

</beans>